<% include ../partials/header %>


  <div class='row'>
    <div class='col-md-3'>
      <p class='h2 font-weight-light'>Map</p>
      <div class='map-container mb-4'>
        <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.min.js'></script>
        <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.css' type='text/css' />

        <div id='map'></div>
        <div id='geocoder' class='geocoder'></div>

        <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoic2lsZW51cyIsImEiOiJjanloYXRkcGcwOXZiM2VyejMwb3pranZnIn0.DDb0f7rHvUdUMtp7zc8D0Q';
        var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-79.4512, 43.6568],
        zoom: 13
        });

        var geocoder = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        marker: {
                color: 'orange',
                anchor: 'left',
                draggable: true
            },
        mapboxgl: mapboxgl
        });

        document.getElementById('geocoder').appendChild(geocoder.onAdd(map));
        </script>


      </div>
    </div>
    <div class=col-md-9>
        <div class='card mb-3'>
          <img class='card-img-top' src='<%= campground.image %> '/>
          <div class='card-body'>
            <h4 class='float-right'>$<%= campground.price %>/night</h4>
            <a><h4 class="card-title"><%= campground.name %> </h4></a>
            <p class="card-text">
              <em>Submitted by: <a href='/users/<%= campground.author.id %>'><%= campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %></em>
            </p>
            <hr>
            <p class="card-text"> <%= campground.description %> </p>
            <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
            <a class='btn btn-warning' href='/campgrounds/<%= campground._id %>/edit'>Edit</a>
            <form class='delete-form' action='/campgrounds/<%= campground._id %>?_method=DELETE' method='POST'>
                <button class='btn btn-danger'>Delete</button>
            </form>
            <% }%>
          </div>
        </div>


        <!--COMMENT SECTION START-->
    <div class="well">
      <!--Setting up the add new comment button that is used for collapsing-->
      <div class="text-right">
        <a class="btn btn-success" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
          <span aria-hidden="true"><i class="fas fa-plus"></i></span> Add new comment</a>
      </div>

      <!--Comment section title-->
      <h4><strong>Comments <span aria-hidden="true"><i class="fas fa-comment-alt"></i></span></strong></h4>

      <!--Collapse Add a comment form START-->
      <div class="collapse" id="collapseComment">
        <div class="well pl-2" style="border-left: 5px solid #00C851;">
            <% if(!currentUser) { %>
          <!--If the user is not logged in, direct him to the login page-->
          <h5>You need to login before you can comment. <a href="/login">Click here</a> to go to the login page.</h5>
            <% } %>
            <% if(currentUser) { %>
          <!--If the user is logged in, show the new comment form-->
          <h4>Write your comment <span aria-hidden="true"><i class="fas fa-pencil-alt"></i></span></h4>
          <form id="add-comment-form" action="/campgrounds/<%= campground._id %>/comments" method="POST">
            <div class="form-group">
              <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="comment[text]" placeholder="Write your comment..." form="add-comment-form" rows="5" cols="70"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-sm">Comment <span aria-hidden="true"><i class="far fa-comment-alt"></i></span></button>
            </div>
          </form>
            <% } %>
        </div>
      </div>
      <!--Collapse Add a comment form END-->

      <hr>

      <!--Check if there are comments, if there are none say no comments.-->
        <% if (campground.comments.length === 0) { %>
      <em style="color: grey;">No comments yet.</em>
        <% } %>

      <!--Display comments by looping through them-->
        <% campground.comments.forEach(function(comment) { %>
      <div class="row">
        <div class="col-md-12">
          <strong>
              <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
            <!--If the current user owns the comment, change the color of the user icon-->
            <span style="color: orange;" aria-hidden="true"><i class="far fa-user"></i></span>
              <% } else { %>
            <!--Else just display it black-->
            <span aria-hidden="true"><i class="fas fa-user"></i></span>
              <% } %>
            <!--Print out the author username-->
              <%= comment.author.username %>
          </strong>
          <!--Show when the comment was made-->
          <span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
          <div class='clear-fix'>
          </div>
          <div class='float-right'>
          <!--Edit button used for collapsing the edit comment form-->
          <a class="btn btn-sm btn-warning" role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">
            Edit</a>
          <!--Delete comment button-->
          <form id="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" style="display: inline;">
            <button class="btn btn-sm btn-danger">Delete</button>
          </form>
           </div>
          <!--Printing the comment-->
          <p class='comment-text'><%= comment.text %></p>
          <!--If the visitor is logged in and the owner of the comment, show the edit and delete buttons-->
            <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
          <!--Edit comment form-->
          <div class="collapse" id="collapseEdit<%= comment._id %>">
            <div class="well pl-2" style="border-left: 5px solid #ffbb33; margin-top: 15px;">
              <h4>Edit your comment <span aria-hidden="true"><i class="fas fa-user-edit"></i></span></h4>
              <form id="edit-comment-form<%= comment._id %>" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <div class="form-group">
                  <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="comment[text]" placeholder="Your comment text..." form="edit-comment-form<%= comment._id %>" rows="5" cols="70"><%= comment.text %></textarea>
                </div>
                <div class="form-group">
                  <button class="btn btn-warning btn-sm">Edit comment <span aria-hidden="true"><i class="fas fa-edit"></i></span></button>
                </div>
              </form>
            </div>
          </div>
            <% } %>
          <hr>
        </div>
      </div>
        <% }) %>
    </div>
    <!--COMMENT SECTION END-->
      </div>
    </div>
  </div>

<% include ../partials/footer %>

